* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  font-size: 2em;
  background-color: #5e92e6;
}
main {
  display: flex;
  height: 100%;
}
aside {
  cursor: pointer;
  background-color: #f2f2f2;
  height: 93.9vh;
  width: 15%;
  font-size: 1.5rem;
}
.projtitle {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}
.projtitle:hover {
  background-color: #dedcdc;
  border-radius: 5px;
}
.addproj {
  cursor: pointer;
}
.projects {
  margin: 1rem 2rem;
}
.projlist {
  font-size: 1rem;
  visibility: hidden;
}
.projlist-active {
  visibility: visible;
}
.projlist li {
  list-style: none;
  margin: 1rem 2rem;
  border-radius: 5px;
  padding: 5px;
}
.projlist li:hover {
  background-color: #dedcdc;
  border-radius: 5px;
}
article {
  height: 93.9vh;
  width: 85%;
}
.modalcont {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
}
.modalactive {
  visibility: visible;
}
.modal {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  background-color: wheat;
  height: 20rem;
  width: 40rem;
  border-radius: 10px;
}
.modalprojtitle {
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
  height: 30%;
  width: 100%;
  background-color: #5e92e6;
  padding: 1rem;
  font-size: 1.25em;
}
.modalproj {
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-radius: 0 0 10px 10px;
  background-color: #f2f2f2;
  font-size: 1.25em;
  width: 100%;
  padding: 1rem;
}
.modalproj label {
  margin: 2rem 0;
}
#projectinput {
  height: 2em;
  border: none;
}
.modalproj span {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}
.modalbtn {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 0;
}
#projsubmit,
#projcancel {
  margin: 5px 5px;
  padding: 0.5rem;
  border: none;
  font-size: 1em;
  background-color: #f2f2f2;
}

.todotitle {
  border-bottom: #5e92e6 solid 2px;
  margin: 5rem 5rem 4rem 15rem;
  font-size: 3rem;
}
.todoitems {
  background-color: #f2f2f2;
  border: #5e92e6 solid 2px;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 5rem 2rem 15rem;
  font-size: 1.5rem;
  position: relative;
}
.removetodo {
  font-size: 1rem;
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
}

.addtodo {
  padding: 1rem;
  margin: 0 5rem 2rem 15rem;
  cursor: pointer;
  font-size: 1.5em;
}
.addtodo:hover {
  background-color: #f2f2f2;
  border-radius: 5px;
}
.addtodoclicked {
  display: none;
}
.addtodomodal {
  padding: 1rem;
  margin: 0 5rem 2rem 15rem;
  background-color: #f2f2f2;
  border: #5e92e6 solid 2px;
  border-radius: 5px;
  visibility: hidden;
}
.addtodomodalactive {
  visibility: visible;
}
#todoinput {
  height: 2rem;
  width: 100%;
  border: none;
}
#todosubmit,
#todocancel {
  margin: 5px 5px;
  padding: 0.5rem;
  border: none;
  font-size: 1.25em;
  background-color: #f2f2f2;
}
